.navcontainer {
    width: 1665px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.dropdown {
    display: flex;
    width: 233px;
    height: 32px;
    align-items: center;
}

.dropdown .bell {

    width: 14px;
    height: 16px;
    margin-right: 20px;
    color: var(--dawarleWebsite);
}

.fax {
    color: var(--dawarleWebsite);
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

/* #basic-nav-dropdown {
    color: var(--dawarleWebsite) !important;
} */